h1, h2, h3 {
  text-align: center;
}

.wrapper {
  padding: 0 10px;
}

.main-description, .main-instructions {
  text-align: center;
  font-size: 1.2rem;
}

.game-images {
  display:inline-block;
  width: 50%;
  text-align: center;
}

.game-images img {
  max-width: 150px;
  max-height: 150px;
}

.game-title {
  text-align: center;
  margin: 0 auto .5rem;
}