.Game {
  text-align: center;
  min-height: 100vh;
  background-image: url(/src/P-181-0001.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.GameScreen {
  width: 375px;
  height: 550px;
  min-width: 375px;
  margin: auto;
}

#Player {
  height: 25px;
  width: 25px;
  background-color: red;
  border: 1px black solid;
  position: relative;
  bottom: 27px;
  left: 15px;
}

#Player .HeldTag {
  display: inline-block;
  position: relative;
  left: 14px;
  transform: translate(-50%, -100%);
  min-width: 75px;
}