.TagContainer {
  display: inline-block;
  height: 20%;
  width: 100%;
  border: 1px solid black;
  vertical-align: top;
}

.TagContainer > span{
  position: relative;
  display: block;
  height: 100%;
}

.TagContainer .TagWord {
  background-color: white;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  padding:0 2px;
  min-width: 71px;
  word-break: break-word;
}